@{
    ViewData["Title"] = "Success";
}

<h1>You create a new Car successfully!</h1>

<div>
    <a asp-action="Create">Create new Car</a>
</div>

<div>
    <a asp-action="Index">List all cars</a>
</div>